# IDE - CLion
.idea
cmake-build-*
build-*

# IDE - Visual Studio

.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.dir
Win32
vs

# Vi - Backups
*.*~
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
lib/
*.dll
*.so
*.so.*
*.dylib

# Executables
x64/
bin/
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cbp
build
CPack*.cmake

# Python
*.py[co]
__pycache__

# Docs
docs/build/
docs/doxygen/

# Conan
conanbuildinfo.*
conaninfo.txt

\.DS_Store
